@using System.Collections
@using RosalieSegerdorf_MVC1.ViewModels.Project
@model RosalieSegerdorf_MVC1.ViewModels.Project.CreateProjectViewModel

@{
    ViewBag.Title = "Create";
}

<h2>New Project</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectLeaderId, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @(Html.DropDownListFor(model => model.ProjectLeaderId, new SelectList(ViewBag.ProjectLeaders, "Value", "Text"), new { @class = "form-control", @cols = "39", @rows = "4" }))
                @Html.ValidationMessageFor(model => model.ProjectLeaderId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Platform, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Platform, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.Platform, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @cols = "39", @rows = "4" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeIds, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.ListBoxFor(model => model.EmployeeIds,  new MultiSelectList((IEnumerable<SelectListItem>)ViewBag.Employees, "Value", "Text"), new {@class= "form-control", @cols = "39", @rows = "4" })
                @Html.ValidationMessageFor(model => model.EmployeeIds, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control date-picker"}})
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseDate, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.EditorFor(model => model.ReleaseDate, new { htmlAttributes = new { @class = "form-control date-picker"} })
                @Html.ValidationMessageFor(model => model.ReleaseDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("AllProjects")">Back to projects</a>
</div>